.btmbrdr:after {
  display: block;
  content: "";
  border-bottom: solid 3px #9b93bf;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.btmbrdr:hover:after {
  transform: scaleX(1);
}
